doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div 
            h2 my skills 
            ul 
                li css 
                li html
            // if you want to do this without usig html tags
            p i love <b>pugjs</b> and <b>sass</b>
            // 
                do this
                | pipline, inform pug that is a plain text
            p
                | i love 
                b pugjs 
                | and 
                b sass