doctype 
html 
    head 
        title Dealing with indentation
    body 
        div i am a div
            span i am span inside div
        p i am paragraph
//- مهم بزاااف indentation ال pug بالنسبة لل
//- حيت الا درتي عنصر تحت عنصر هو كيقراها بانهم اشقاء, يعني غيترجمو ك عنصر تحت عنصر
//- اما لدرتي عنصر مع مسافة للداخل يعني هاد العنصر راه ابن لي عنصر اب