doctype 
html 
    head 
        title attributes part one 
    body 
        // div فاش كدير غا كلاس بلا متحدد فراه كيما العادة غيديرو فعنصر
        .firstClass 

        // attributes الطريقة تانية لي تقدر دير بيها
        // لعنصر واحد attr هاد الطريقة كتستعمل الا كنتي غدير كتر من
        div(class="wrapper", id="mainWrapper")
        div(class="wrapper" id="mainWrapper")

        // اولا غديرهم بجوج class or id هاد الطريقة لكتي غدير يما
        ul.list 
            li one 
            li two 
            li three 
        
        p#mainPar hello

        p.mainPar#main_par 