doctype 
html
    head 
        title pug template enging 
    body 
        div 
            h2 my skills 
            ul 
                li php 
                li sass
                li js
                li typescript
                li html
                li css
                li git & github 
        //- semicolone :
        //- كتقول ليه بلي اللي جاي مورايا ماشي نص عادي و انما عنصر اخر
        div: a this is anchore tag
        div: a: img

        //- bold مثلا لبغيتي شي كلمة وسط النص تكون html tag, تقد حتا تخدم ب
        div hello this is <b>bold</b>