doctype 
html 
    head 
        title Comments 
    body 
        // html file هاد الكومنت غيبان فال
        // start section
        div bruh 
        // end section

        //- هد النوع مغيبانش
        p somthing 

        // 
            multiple line commnet
            iam the second
            iam the third