//- buffered code هذا كيتسما
//- js و كيما قال سي اسامة, تقد دير فيه كود

- let calssEx = "container";

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 

        div(class=calssEx + " First") hello this is div
        div(class="Second " + calssEx) hello this is also div